// Rename this file to screenscraper_credentials.inc and fill in your credentials
// from https://www.screenscraper.fr (developer section)

   cstSSDevId      = 'YOUR_DEV_ID';
   cstSSDevPassword= 'YOUR_DEV_PASSWORD';